@model IEnumerable<FestiSpec.Domain.Model.Inspectie>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>@Html.ActionLink("Open Inspectie", "Index","Questionnaire",new { id = item.Inspectienummer}, null)</td>
            </tr>
        }

    </table>
<h2>Inspecties</h2>

