@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title.</h1>

<address>
    Groep: SOj<br/>
    Naam: IT4J
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:it4j@hotmail.com">it4j@hotmail.com</a><br />
</address>