@{
    ViewBag.Title = "Home Page";
}

<!-- Landing page information -->
<div class="jumbotron">
    <h1>FestiSpec</h1>
    <h2 class="">@ViewBag.Name</h2>
    <p class="lead">Houd jij van geld én van festivals? Overweeg een baan als inspecteur bij FestiSpec en verdien je geld op festivals!</p>
    <h4 class="btn-block">
        @Html.ActionLink("Aanmelden →", "Create", "Applicant")
    </h4>
</div>


<!-- Column 1 -->
<div class="row">
    <div class="col-md-4">
        <h2>Recenties</h2>
        <p>
            <strong>10/10</strong> : Geweldige in-depth inspecties. Zeer tevreden. <br /> - Hans Klok <br/> <br />
            <strong>9/10</strong> : Verstand van zaken. <br /> - Kees van der Spek<br /> <br />
            <strong>9.5/10</strong> : Toffe mensen met ruime kennis. <br /> - Harrie IV
        </p>
    </div>

    <!-- Column 2 -->
    <div class="col-md-4">
        <h2>Over ons</h2>
        <p> Loopt de doorstroom niet lekker? <br/>
            Zijn er problemen met wetgeving? <br />
            Of wilt u simpelweg de klanttevredenheid verhogen? <br />
            <br/>
            Wij geven u de data en de handvaten om deze doelen te behalen! <br /> <br />
            We are Festispec <br />
        </p>
    </div>

    <!-- Column 3 -->
    <div class="col-md-4">
        <h2>Wat doen wij? </h2>
        <p>Wij voeren namens u bedrijf inspecties uit op evenementen en presenteren de bevonden resultaten in een overzichtelijk rapportage. </p>
    </div>
</div>